<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "ExpenseTracker" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <nav class="p-4 dark:bg-brand bg-slate-950 text-slate-50 fixed top-0 flex justify-center items-center w-full shadow-lg">
      <div class="flex justify-between items-center relative container">
        <div class="text-xl font-bold cursor-default">ExpenseTracker</div>
        <.button
          class="md:hidden p-1 border rounded text-xl"
          phx-click={JS.toggle_class("hidden", to: "#navbar-items")}
        >
          <.icon name="hero-bars-3" />
        </.button>
        <ul
          id="navbar-items"
          class="gap-4 md:flex md:relative md:m-0 md:w-auto md:p-0 md:shadow-none absolute mt-14 dark:bg-brand bg-slate-950 w-full top-0 left-0 p-2 shadow-lg hidden"
        >
          <%= if @current_user do %>
            <li class="text-white p-2 dark:bg-sky-500 dark:hover:bg-sky-400 bg-slate-950 hover:bg-slate-800 dark:hover:shadow rounded transition">
              <%= @current_user.email %>
            </li>
            <li>
              <.link
                patch={~p"/users/settings"}
                class="text-white block p-2 dark:bg-sky-500 dark:hover:bg-sky-400 bg-slate-950 hover:bg-slate-800 dark:hover:shadow rounded transition"
              >
                Settings
              </.link>
            </li>
            <li>
              <.link
                patch={~p"/incomes"}
                class="text-white block p-2 dark:bg-sky-500 dark:hover:bg-sky-400 bg-slate-950 hover:bg-slate-800 dark:hover:shadow rounded transition"
              >
                Incomes
              </.link>
            </li>
            <li>
              <.link
                patch={~p"/expenses"}
                class="block text-white p-2 dark:bg-sky-500 dark:hover:bg-sky-400 bg-slate-950 hover:bg-slate-800 dark:hover:shadow rounded transition"
              >
                Expenses
              </.link>
            </li>
            <li>
              <.link
                href={~p"/users/log_out"}
                method="delete"
                class="block text-white p-2 dark:bg-sky-500 dark:hover:bg-sky-400 bg-slate-950 hover:bg-slate-800 dark:hover:shadow rounded transition"
              >
                Logout
              </.link>
            </li>
          <% else %>
            <li>
              <.link
                patch={~p"/users/register"}
                class="block text-white p-2 dark:bg-sky-500 dark:hover:bg-sky-400 bg-slate-950 hover:bg-slate-800 dark:hover:shadow rounded transition"
              >
                Register
              </.link>
            </li>
            <li>
              <.link
                patch={~p"/users/log_in"}
                class="block text-white p-2 dark:bg-sky-500 dark:hover:bg-sky-400 bg-slate-950 hover:bg-slate-800 dark:hover:shadow rounded transition"
              >
                Login
              </.link>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= @inner_content %>
  </body>
</html>
