<div>
  <%= if @incomes_chart do %>
    <h1 class="text-2xl font-semibold">Your Income Usage:</h1>
    <%= @incomes_chart %>
  <% end %>
  <%= if @expenses_chart do %>
    <h1 class="text-2xl font-semibold">Your Expense Usage:</h1>
    <%= @expenses_chart %>
  <% end %>
</div>
